# HW4 \#3

**Glen Chandler**

In [3]:
%pylab inline
import os
from ipypublish import nb_setup
import pandas as pd
from datetime import datetime
import pandas_datareader.data as web

Populating the interactive namespace from numpy and matplotlib

### Collecting 6 years of NKE data

In [4]:
stkdata = web.DataReader("NKE",  "yahoo", datetime(2012,12,31), datetime(2018,12,31))
stkp = stkdata["Adj Close"]

In [5]:
stkdata.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2012-12-31  25.820000  25.295000  25.415001  25.799999  6807400.0  22.869360
2013-01-02  26.240000  25.700001  26.200001  25.920000  7512800.0  22.975725
2013-01-03  26.299999  25.889999  25.975000  26.184999  7232200.0  23.210630
2013-01-04  26.520000  26.235001  26.250000  26.440001  6794000.0  23.436663
2013-01-07  26.540001  26.264999  26.395000  26.480000  6489400.0  23.472116

In [32]:
rets = stkp.pct_change()

# a)

In [38]:
rets = rets[1:] #Removing first NaN value
rets = np.sort(rets)

### Compute 99th percentile index

In [39]:
n = len(rets)
index99th = int(ceil(.99 * n))
print("n: ",n, " index: ", index99th)

n:  1510  index:  1495

### Find value at 99th percentile index

In [47]:
val = rets[index99th]
print("99th percentile val: ", val)
print("\nTop 1%: ")
rets[index99th:]

99th percentile val:  0.04023693434439046

Top 1%:

array([0.04023693, 0.04267254, 0.04691507, 0.04800765, 0.0483546 ,
       0.04847417, 0.0505168 , 0.05461952, 0.0716719 , 0.07209985,
       0.0889449 , 0.10964839, 0.11063459, 0.11129716, 0.12225769])

# b)

### Find the 1st percentile index

In [43]:
index1st = int(ceil(.01 * n))
print("n: ",n, " index: ", index1st)

n:  1510  index:  16

### Find value at 1st percentile

In [61]:
val = rets[index1st]
print("1st percentile val: ", val)
print("\nBottom 1%: ")
rets[:index1st]

1st percentile val:  -0.034918748958215784

Bottom 1%:

array([-0.07050505, -0.06814224, -0.05900243, -0.05121704, -0.04985869,
       -0.04835265, -0.04784388, -0.04368253, -0.04210057, -0.03790461,
       -0.03776656, -0.03725722, -0.03712596, -0.03699334, -0.03626089,
       -0.03537103])

# c)

In [60]:
retsG5 = [x for x in rets if x > 0.05]
print(retsG5)

[0.050516797820529646, 0.05461951812837729, 0.07167190458078299, 0.07209985469101365, 0.08894490304380098, 0.10964839142211913, 0.11063459104409779, 0.11129716151629077, 0.12225768700105877]

In [62]:
meanRetsG5 = mean(retsG5)
print("Mean of returns greater than 5%: ", meanRetsG5)

Mean of returns greater than 5%:  0.08796564547200789

# d)

### Basic statistics

In [75]:
lowestReturn = rets[0]
sigma = np.std(rets)
mu = np.mean(rets)
print("Lowest Return: ", lowestReturn)
print("Sigma: ", sigma)
print("Mean: ", mu)

Lowest Return:  -0.07050504594679152
Sigma:  0.014579082501568412
Mean:  0.0008825164645298256

### Computing number of sigma

In [78]:
distance = lowestReturn - mean
numSigma = distance / sigma
print("distance: ", distance)
print("numSigma: ", numSigma)

distance:  -0.07138756241132135
numSigma:  -4.896574417741412